.banner {
  &__heading {
    font-size: 24px;
    line-height: 130%;

    @include respond(tablet-wide) {
      font-size: 30px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 130%;
    color: $c-black;
    p {
      margin-top: 16px;
      &:first-child {
        margin-top: 0;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 32px;
    }
  }

  &__right {
    position: relative;
  }

  &__switch {
    display: flex;
    align-items: center;
    position: absolute;
    top: -120px;
    right: 0;

    @include respond(tablet-wide) {
      top: -70px;
    }
  }

  &__label {
    padding: 0 16px;
    &--mobile {
      @include respond(tablet-wide) {
        display: none;
      }

      &.hide {
        display: none;
      }
    }

    &--desktop {
      @include respond(tablet-wide, max) {
        display: none;
      }
    }
  }

  &__checkbox {
    width: 57px;
    height: 33px;
    border: 1px solid #191718;
    border-radius: 20px;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      width: 23px;
      height: 23px;
      position: absolute;
      background-color: #191718;
      border-radius: 50%;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease-in-out;
    }

    &.checked::before {
      left: 27px;
      background-color: #0075ff;
    }

    input {
      width: 100%;
      height: 100%;
      margin: 0;
      opacity: 0;
      cursor: pointer;
    }

    @include hover {
      @include respond(tablet-wide) {
        .banner__tooltip {
          visibility: visible;
        }
      }
    }
  }

  &__tooltip {
    visibility: hidden;
    width: 320px;
    padding: 8px;
    margin-left: -160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    font-size: 14px;

    &::after {
      content: "";
      position: absolute;
      top: 99%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }

    @include respond(tablet-wide, max) {
      display: none;
    }
  }

}