.homepage {
  .banner {
    padding: 18px svw(12px) 50px;
    position: relative;

    @include respond(tablet-wide) {
      padding: vw(107px) vw(80px) vw(155px) vw(87px);
    }

    &__logo {
      line-height: 130%;
      font-family: $f-heading;
      @include respond(tablet-small){
        width: 400px;
      }

      &--mobile {
        font-size: 30px;
        color: $c-black;
        display: flex;
        flex-flow: column;
        @include respond(tablet-wide) {
          display: none;
        }
      }

      &--desktop {
        display: none;
        @include respond(tablet-wide) {
          display: block;
          color: $c-white;
          font-size: 32px;
        }

        @include respond(desktop) {
          font-size: 40px;
        }
      }

      @include respond(tablet-wide) {
        &__item {
          display: inline-block;
          padding: 0 7px;

          &--1 {
            background-color: $c-forest-green;
          }
  
          &--2 {
            background-color: $c-pink;
          }
  
          &--3 {
            background-color: $c-yellow;
          }
  
          &--4 {
            background-color: $c-black;
          }
        }
      }
    }

    &__left {
      @include respond(tablet-small){
        width: 400px;
      }
      @include respond(tablet-wide) {
        max-width: 531px;
        position: relative;
        z-index: 1;
      }
    }

    &__right {
      margin-top: 130px;

      @include respond(phablet) {
        margin-top: 40px;
      }

      @include respond(tablet-wide) {
        margin-top: 0;
      }
    }

    &__heading {
      margin-top: 19px;

      @include respond(tablet-wide) {
        margin-top: vw(42px);
      }
    }

    &__text {
      margin-top: 32px;
      
      @include respond(tablet-wide) {
        margin-top: vw(40px);
        max-width: 388px;
      }
    }

    &__cta {
      margin-top: 32px;
      @include respond(tablet-wide) {
        margin-top: vw(40px);
      }
    }

    &__right {
      @include respond(tablet-small) {
        position: absolute;
        right: 0;
        top: 30px;
        width: 385px;
      }
      @include respond(tablet-wide) {
        right: vw(80px);
        top: 50%;
        transform: translateY(-50%);
        width: vw(785px);
        height: vw(450px);

      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center right;
      }
    }
  }
}