.header {
  display: flex;
  width: 100%;
  height: 69px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $primary;
  background-color: $c-white;

  @include respond(tablet) {
    height: 73px;
  }

  &__logo {
    display: flex;
    width: 82px;
    height: 100%;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: $c-forest-green;
    border-right: 1px solid $primary;
    
    @include respond(tablet) {
      width: 79px;
    }

    img {
      width: 46.42px;

      @include respond(tablet) {
        width: 50px;
      }
    }
  }

  &__text {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-family: $f-heading;
    font-size: 23px;
    line-height: 130%;
    padding-left: vw(36px);
    padding-right: vw(36px);
    background-color: $c-yellow;
    display: none;
    @include respond(desktop-small, max) {
      font-size: 18px;
      padding-left: 24px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 0;
      line-height: 140%;
      width: 47%;
    }
    @include respond(desktop-small){
      width: 30%;
      font-size: 23px;
      line-height: 130%;
    }
    @include respond(mobile, max) {
      display: none;
    }

    @include respond(desktop) {
      padding-left: clamp(10px, calc( 6.042vw - 79px ), 2.5vw);
    }
  }

  &__menus {
    display: flex;
    height: 100%;
    
    @include respond(tablet, max) {
      flex-grow: 1;
    }
  }

  &__nav {
    display: flex;

    &--mobile {
      overflow-y: auto;
    }
    
    @include respond(tablet, max) {
      width: 100%;
      height: calc(100vh - 69px);
      padding: 113px svw(20px) 53px;
      flex-flow: column;
      align-items: flex-start;
      position: fixed;
      left: 0;
      top: 69px;
      z-index: 50;
      transform: translateX(-100%);
      background-color: $c-white;
      @include transition;

      &.open{
        transform: translateX(0);
      }

      &--desktop {
        display: none;
      }
    }

    @include respond(tablet) {
      height: 100%;
      align-items: center;

      &--mobile {
        display: none;
      }
    }
    
    &__item {
      @include transition;
      
      @include respond(tablet, max) {
        font-size: 32px;
        line-height: 38px;
  
        &:not(:first-child) {
          margin-top: 50px;
        }

        @include hover {
          text-decoration: underline;
        }
  
        &.current {
          text-decoration: underline;
        }
      }

      @include respond(tablet) {
        display: flex;
        height: 100%;
        align-items: center;
        padding-left: vw(45px);
        padding-right: vw(45px);
        font-size: 18px;
        line-height: 130%;
        border-right: 1px solid $primary;
        
        &:first-child {
          border-left: 1px solid $primary;
        }

        @include hover {
          background-color: $c-pink;
        }
  
        &.current {
          background-color: $c-pink;
        }
      }
    }
  }

  &__social {
    margin-top: 73px;

    &__label {
      font-size: 18px;
      line-height: 130%;
    }

    &__links {
      margin-top: 15px;
    }

    &__link {
      &:not(:first-child) {
        margin-left: 35px;
      }
    }
  }

  &__search {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: $c-white;

    @include respond(tablet, max) {
      flex-grow: 1;
      border-right: 1px solid $primary;
    }

    @include respond(tablet) {
      padding-left: vw(37px);
      padding-right: vw(37px);
    }

    .btn {
      font-size: 24px;
    }
  }
}