html,
body {
  padding: 0;
  margin: 0;
  font-family: $f-text;
  color: $primary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  filter: none !important;
}

/**
* Embed Responsively
* http://embedresponsively.com/
*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  z-index: 1;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.main {
  padding-top: 69px;
  @include respond(tablet) {
    padding-top: 73px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.no-data {
  padding: 150px svw(20px) 100px;
  height: 80vh;
  @include respond(tablet) {
    padding: 300px vw(80px) 200px;
  }

  a {
    display: inline-block;
    margin-top: 30px;
    @include hover {
      text-decoration: underline;
    }
  }
}

textarea {
  resize: none;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}